#u2544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:200px;
  width:385px;
  height:182px;
}
#u2545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:211px;
  width:116px;
  height:18px;
}
#u2546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:239px;
  width:340px;
  height:128px;
}
#u2548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u2548_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u2549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:170px;
  height:32px;
  font-size:14px;
  text-align:left;
}
#u2549_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u2550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:170px;
  height:32px;
  text-align:left;
}
#u2550_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u2551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:32px;
  width:170px;
  height:32px;
  text-align:left;
}
#u2551_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u2552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:170px;
  height:32px;
  text-align:left;
}
#u2552_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u2553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:64px;
  width:170px;
  height:32px;
  text-align:left;
}
#u2553_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u2554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:170px;
  height:32px;
  text-align:left;
}
#u2554_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u2555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:96px;
  width:170px;
  height:32px;
  color:#1E1E1E;
  text-align:left;
}
#u2555_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}

.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}

.label1 {
  font-size:14px;
  text-align:left;
}